<h2>Hola Soy la pagina de novedades</h2>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore quam delectus tempore recusandae dolorum? Excepturi
    rerum earum ut dignissimos facilis porro nobis, eum inventore commodi accusamus. Magni assumenda consectetur
    expedita.</p>