.contenedor{
	background-color: rgb(227, 227, 236);
	border: solid black;
	height: 500px;
	width: 500px;
    flex-direction: row-reverse;
	display: flex;
	align-items: center
}

.item{
	width: 34%;
	height: 34%;
	margin: 0px;
	font-size: 30px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;

}

.item:first-child{
	background-color: red;

}

.item:nth-child(2){
	background-color: blue;
}

.item:last-child{
	background-color: green;
}
