/*font-family: 'Open Sans', sans-serif;*/

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
}

header{
    background-color: black;
    padding: 1em 0;
}

header h1{
    color: white;
    font-size: 3em;
    font-style: italic;
    font-weight: 100;
    display: inline-block;
    position: relative;
    bottom: 30px;
}

nav{
    background-color: gray;
    margin-bottom: 2em;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    width: 24.5%;
}

nav ul li a {
    color: white;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 0.2em 0.4em;
}

nav ul li a:hover {
    background-color: rgba(0,0,0,0.3);
}

footer{
    background-color: #CCC;
    clear: both;
    color: #333;
    padding: 3em 0;
    margin-top: 2em;
    text-align: center;
}

nav ul li a.activo{
    background-color: #4c76a5;
}

.holder{
    max-width: 960px;
    margin: 0 auto;
}

h2{
    color: #2e64a1;
    font-weight: 400;
    margin: 0 0 1em;
}

.left{
    float: left;
}

.right{
    float: right;
}

/* INICIO HOME */

.homeimg{
    margin-bottom: 1.5em;
}

.columnas{
    overflow: hidden;
}

.bienvenidos, .testimonios{
    box-sizing: border-box;
}

.bienvenidos{
    width: 75%;
    padding-right: 2em;
}

.destacadas{
    width: 25%;
}

.destacada{
    background-color: #ccc;
    padding: 1em;
}

.destacada .cita{
    font-weight: bold;
    font-style: italic;
    font-size: 1.4em;
    display: block;
}

.destacada .autor{
    font-size: 0.7em;
    text-align: center;
    margin: 1em 0;
    display: block;
}

/* FIN HOME */

/* INICIO RECETAS */

.historia p{
    font-size: 0.8em;
}

.tipos{
    overflow: hidden;
}

.tipo{
    width: 18%;
    border: 1px solid gray;
    border-radius: 0.25em;
    float: left;
    margin-left: 2.25%;
    box-sizing: border-box;
}

.tipo{
    text-align: center;
}

.tipo img {
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    margin: 0.8em 0 1em;
    max-width: 70%;
}

.tipo h5,
.tipo h6{
    text-align:  center;
    font-weight: normal;
    color: #2e64a1;
    margin: 0;
}

tipo h5{
    font-size: 0.9em;
}

tipo p {
    font-size: 0.7em;
    color: #444;
    margin: 0 1em 1em;
}

.tipo:first-child{
    margin-left: 0;
}

/* FIN RECETAS */


/*INICIO GALERIA*/

.column img{
    width: 100%;
    margin-top: 5px;
}

.row{
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
}

.column{
    flex: 20%;
    padding: 5px;
}

@media (max-width: 800px){
    .column{
        flex: 50%;
    }
}

@media (max-width: 600px){
    .column{
        flex: 100%;
    }
}

/*FIN GALERIA*/

/* INICIO CONTACTO */

.columna{
    width: 50%;
    box-sizing: border-box;
    padding: 0.6em;
}

.columna.left{
    border-right: 1px solid gray;
}

.columna.right p{
    font-size: 0.9em;
}

.columna.right ul li{
    font-size: 0.9em;
}

.formulario label{
    vertical-align: top;
    width: 20%;
    display: inline-block;
}

.formulario input,
.formulario textarea{
    background-color: #ddd;
    border-radius: 5px;
    border: 1px solid #999;
    padding: 0.4em 0.6em;
    font-size: 0.em;
    width: 70%;
}

.formulario input[type="submit"]{
    background-color: #6da9ed;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    color: white;
    font-size: 1em;
    width: auto;
    cursor: pointer;
}

.formulario textarea{
    height: 10em;
    resize: none;
}

.formulario .acciones{
    text-align: center;
}

/* FIN CONTACTO */